In [10]:
import sqlite3

In [11]:
conn = sqlite3.connect("./testDB2.db")

In [12]:
cur = conn.cursor()
cur.execute("SELECT * FROM singers")
rows = cur.fetchall()
rows

[]

In [13]:
sql = "INSERT INTO singers(name, member_no, debut, company) VALUES(?, ?, ?, ?)"
groups = [('방탄소년단',7, '2013-06-13', '빅히트'), ('마마무',4, '2014-06-19', 'RBW'), 
         ('우주소녀',13, '2016-02-25', '스타쉽'), ('블락비',7, '2011-04-15', 'KQ'), 
         ('엑소',9,'2012-04-08','SM'), ('트와이스',9,'2015-10-20','JYP')]
for i in groups:
    cur.execute(sql, i)
conn.commit()

In [14]:
cur = conn.cursor()
cur.execute("SELECT * FROM songs")
rows = cur.fetchall()
rows

[]

In [29]:
sql2 = "INSERT INTO songs(song, gid, year, composer, lyrics ) VALUES(?, ?, ?, ?,?)"
groups = [('작은 것들을 위한 시',1, 2019, 'Pdogg 외', '모든 게 궁금해 How’s your day'),
         ('FAKE LOVE',1, 2018, 'Pdogg 외', '널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어'),
         ('넌 is 뭔들',2, 2016, '김도훈 외', 'Hey 거기 미소가 예쁜 남자 바로 너'),
         ('음오아예 (Um Oh Ah Yeh)',2, 2015, '김도훈', 'oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아'),
         ('HER',4, 2014, '지코 외', 'Jesus 무슨 말이 필요해 모두 널 작품이라고 불러'),
         ('으르렁',5, 2013, '신혁 외', '나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대'),
         ('MAMA',5, 2012, '유영진', 'Careless careless Shoot anonymous anonymous'),
         ('CHEER UP',6, 2016, '블랙아이드필승 외', 'CHEER UP BABY CHEER UP BABY 좀 더 힘을 내'),
         ('TT',6, 2016, '블랙아이드필승 외', '이런 내 맘 모르고 너무해 너무해'),
         ('빨간 맛',11, 2017, 'Ludwig Lindell 외', '빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛')]
for i in groups:
    cur.execute(sql2, i)
conn.commit()

In [40]:
sql3 = "INSERT INTO idol(idol_name, idol_member, idol_debut, idol_song, idol_year) VALUES(?, ?, ?, ?,?)"

In [43]:
sql3 = "SELECT singers.name, singers.member_no, singers.debut, songs.song, songs.year FROM singers inner join songs ON singers.id_=songs.song_id"

In [44]:
cur.execute(sql3)
results = cur.fetchall()
results

[('방탄소년단', 7, '2013-06-13', '작은 것들을 위한 시', 2019),
 ('마마무', 4, '2014-06-19', 'FAKE LOVE', 2018),
 ('우주소녀', 13, '2016-02-25', '넌 is 뭔들', 2016),
 ('블락비', 7, '2011-04-15', '음오아예 (Um Oh Ah Yeh)', 2015),
 ('엑소', 9, '2012-04-08', 'HER', 2014),
 ('트와이스', 9, '2015-10-20', '으르렁', 2013)]

In [45]:
import pandas as pd

In [50]:
df=pd.DataFrame(results)
df

       0   1           2                    3     4
0  방탄소년단   7  2013-06-13          작은 것들을 위한 시  2019
1    마마무   4  2014-06-19            FAKE LOVE  2018
2   우주소녀  13  2016-02-25              넌 is 뭔들  2016
3    블락비   7  2011-04-15  음오아예 (Um Oh Ah Yeh)  2015
4     엑소   9  2012-04-08                  HER  2014
5   트와이스   9  2015-10-20                  으르렁  2013