In [1]:
import sqlite3
import pandas as pd

In [4]:
df = pd.read_csv("singers.csv", encoding='utf-8')
df

    name  member_no       debut company
0  방탄소년단          7  2013-06-13  빅히트 엔터
1    마마무          4  2014-06-19     RBW
2   우주소녀         13  2016-02-25  스타쉽 엔터
3    블락비          7  2011-04-15   KQ 엔터
4     엑소          9  2012-04-08   SM 엔터
5   트와이스          9  2015-10-20  JYP 엔터

In [15]:
conn = sqlite3.connect("testDB.db")
cur = conn.cursor()

In [16]:
idols = [tuple(x) for x in df.values] 
idols

[('방탄소년단', 7, '2013-06-13', '빅히트 엔터'),
 ('마마무', 4, '2014-06-19', 'RBW'),
 ('우주소녀', 13, '2016-02-25', '스타쉽 엔터'),
 ('블락비', 7, '2011-04-15', 'KQ 엔터'),
 ('엑소', 9, '2012-04-08', 'SM 엔터'),
 ('트와이스', 9, '2015-10-20', 'JYP 엔터')]

In [18]:
sql = "INSERT INTO singers(group_name, mem_num, debut_date, agency) VALUES(?,?,?,?)"
cur.executemany(sql, idols)
conn.commit()

OperationalError: no such table: singers

In [8]:
df2 = pd.read_csv("songs.csv", encoding='utf-8')
df2

,song,gid,year,composer,lyrics
0,작은 것들을 위한 시,1,2019,Pdogg 외,모든 게 궁금해 How’s your day
1,FAKE LOVE,1,2018,Pdogg 외,널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어
2,넌 is 뭔들,2,2016,김도훈 외,Hey 거기 미소가 예쁜 남자 바로 너
3,음오아예 (Um Oh Ah Yeh),2,2015,김도훈,oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아
4,HER,4,2014,지코 외,Jesus 무슨 말이 필요해 모두 널 작품이라고 불러
5,으르렁,5,2013,신혁 외,나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대
6,MAMA,5,2012,유영진,Careless careless Shoot anonymous anonymous
7,CHEER UP,6,2016,블랙아이드필승 외,CHEER UP BABY CHEER UP BABY 좀 더 힘을 내
8,TT,6,2016,블랙아이드필승 외,이런 내 맘 모르고 너무해 너무해
9,빨간 맛,11,2017,Ludwig Lindell 외,빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛

In [9]:
songs = [tuple(x) for x in df2.values] 
songs

[('작은 것들을 위한 시', 1, 2019, 'Pdogg 외', '모든 게 궁금해 How’s your day'),
 ('FAKE LOVE', 1, 2018, 'Pdogg 외', '널 위해서라면 난 슬퍼도 기쁜 척 할 수가 있었어'),
 ('넌 is 뭔들', 2, 2016, '김도훈 외', 'Hey 거기 미소가 예쁜 남자 바로 너'),
 ('음오아예 (Um Oh Ah Yeh)', 2, 2015, '김도훈', 'oh yes 음 오 아 예 너에게 빠져들겠어 자꾸 반응하잖아'),
 ('HER', 4, 2014, '지코 외', 'Jesus 무슨 말이 필요해 모두 널 작품이라고 불러'),
 ('으르렁', 5, 2013, '신혁 외', '나 으르렁 으르렁 으르렁 대 나 으르렁 으르렁 으르렁 대'),
 ('MAMA', 5, 2012, '유영진', 'Careless careless Shoot anonymous anonymous'),
 ('CHEER UP', 6, 2016, '블랙아이드필승 외', 'CHEER UP BABY CHEER UP BABY 좀 더 힘을 내'),
 ('TT', 6, 2016, '블랙아이드필승 외', '이런 내 맘 모르고 너무해 너무해'),
 ('빨간 맛', 11, 2017, 'Ludwig Lindell 외', '빨간 맛 궁금해 Honey 깨물면 점점 녹아든 스트로베리 그 맛')]

In [10]:
sql = "INSERT INTO songs(song_name, gid, year, composer, lyrics) VALUES(?,?,?,?,?)"
cur.executemany(sql, songs)
conn.commit()

NameError: name 'cur' is not defined