In [2]:
import sqlite3

In [54]:
conn = sqlite3.connect("./testDB.db")

In [55]:
cur = conn.cursor()
cur.execute("SELECT * FROM eagles")
rows = cur.fetchall()
rows

[(1, 22, '이태양', '투수'),
 (2, 17, '김범수', '투수'),
 (3, 13, '최재훈', '포수'),
 (4, 43, '정은원', '내야수'),
 (5, 19, '이용규', '외야수'),
 (6, 30, '호잉', '외야수'),
 (7, 50, '이성열', '내야수'),
 (8, 52, '김태균', '내야수'),
 (9, 53, '김민우', '투수'),
 (10, 61, '박상원', '투수'),
 (12, 25, '최진행', '외야수'),
 (13, 38, '안영명', '투수'),
 (14, 54, '서균', '투수'),
 (15, 48, '채드 벨', '투수'),
 (16, 53, '김민우', '투수')]

In [7]:
cur.execute("SELECT * FROM eagles WHERE position = '투수'" )
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(1, 22, '이태양', '투수')
(2, 17, '김범수', '투수')
(9, 53, '김민우', '투수')
(10, 61, '박상원', '투수')

In [11]:
#데이터 추가
cur.execute("INSERT INTO eagles(back_no, name, position) VALUES(1, '하주석', '내야수')")

In [12]:
cur.execute("SELECT * FROM eagles WHERE position = '내야수'")
pitchers = cur.fetchall()
for pitcher in pitchers:
    print(pitcher)

(4, 43, '정은원', '내야수')
(7, 50, '이성열', '내야수')
(8, 52, '김태균', '내야수')
(11, 1, '하주석', '내야수')

In [13]:
#DB에 반영
conn.commit()

In [15]:
#파라미터: 튜플을 사용해서 전달
back_no = 25
name = '최진행'
position = '외야수'
sql = "INSERT INTO eagles(back_no, name, position) VALUES(?, ?, ?)"
cur.execute(sql, (back_no, name, position))
conn.commit()

In [16]:
#튜플 리스트 사용*****************************************
players = [(38, '안영명', '투수'), (54, '서균', '투수')]
for player in players:
    cur.execute(sql, player)
conn.commit()

In [19]:
# executemany()사용
players = [(48, '채드 벨', '투수'), (53, '김민우', '투수')]
cur.executemany(sql, players)
conn.commit()

In [21]:
#데이터 조회
##순회 조회
sql = "select * from eagles where position = '포수'"
cur.execute(sql)
for result in cur:
    print(result)

(3, 13, '최재훈', '포수')

In [22]:
##한 건 조회*****************************************
cur.execute(sql)
result = cur.fetchone()
print(result)

(3, 13, '최재훈', '포수')

In [24]:
##갯수 지정 조회
sql = "select * from eagles where position= '투수'"
cur.execute(sql)
results = cur.fetchmany(3)
results

[(1, 22, '이태양', '투수'), (2, 17, '김범수', '투수'), (9, 53, '김민우', '투수')]

In [25]:
##전부 조회 *******************************************
results = cur.fetchall()
results

[(10, 61, '박상원', '투수'),
 (13, 38, '안영명', '투수'),
 (14, 54, '서균', '투수'),
 (15, 48, '채드 벨', '투수'),
 (16, 53, '김민우', '투수')]

In [26]:
#필요한 컬럼만 조회
sql = "select back_no, name from eagles where back_no >20"
cur.execute(sql)
results = cur.fetchall()
results

[(22, '이태양'),
 (43, '정은원'),
 (30, '호잉'),
 (50, '이성열'),
 (52, '김태균'),
 (53, '김민우'),
 (61, '박상원'),
 (25, '최진행'),
 (38, '안영명'),
 (54, '서균'),
 (48, '채드 벨'),
 (53, '김민우')]

In [27]:
# (between)백넘버가 30~39 까지인 선수들의 명수
sql = "select back_no, name from eagles where back_no between 20 and 29"
cur.execute(sql)
results = cur.fetchall()
results

[(22, '이태양'), (25, '최진행')]

In [30]:
# 백넘버가 가장 큰 번호를 갖는 선수는?
sql = "select * from eagles order by back_no desc limit 1"
cur.execute(sql)
results = cur.fetchone()
results

(10, 61, '박상원', '투수')

In [32]:
#포지션별 사람수
sql = "select position, count(*) from eagles group by position"
cur.execute(sql)
results = cur.fetchall()
results

[('내야수', 4), ('외야수', 3), ('투수', 8), ('포수', 1)]

In [43]:
#데이터 검색

##등번호가 52번인 선수는?

back_no = 52
sql = "select * from eagles where back_no = ?"
cur.execute(sql, (back_no,))
results = cur.fetchone()
results

(8, 52, '김태균', '내야수')

In [47]:
# 데이터 변경(update)

## id=11인 하주석 선수의 포지션을 외야수로 변경

id =11
position = '외야수'
sql = "UPDATE eagles SET position = ? WHERE id = ?"
cur.execute(sql, (position, id))
conn.commit()

In [50]:
#데이터 삭제

sql = "DELETE FROM eagles WHERE id = ?"
cur.execute(sql, (id,))
conn.commit()

In [59]:
list1 = [1,2,3]
tp = ((list1))

In [57]:
tp

[1, 2, 3]